.card {
    background: #fff;
    border-radius: 20px;
    padding: 40px;
}

.login {
    margin: auto;
    max-width: 320px;
    width: 100%;
    box-shadow: -1px 1px 33px -7px rgba(0,0,0,0.75);
}

.login h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

.center {
    max-width: 800px;
    margin: auto;
}